.glassy-background {
  min-height: 100vh; /* take full height of screen */
  padding: 30px; /* distance from edges */
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.glassy-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px); /* glassy blur effect */
  background-color: rgba(255, 255, 255, 0.2); /* frosted tint */
  z-index: 0;
}

/* Card styles */
.glassy-card {
  position: relative;
  z-index: 1; /* keep card above blur */
  background: white;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 6px 8px 32px rgba(13, 213, 73, 0.2);
  max-width: 75%; /* limit card width */
  width: 100%;
}
